* {
  border: none;
  border-radius: 0;
  font-family: sans-serif;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: #16181d;
  color: #f1f3f5;
}

#custom-apx,
#workspaces,
#clock,
#network,
#pulseaudio,
#battery {
  padding: 0 10px;
}

#custom-apx {
  background: #6c5ce7;
  font-weight: bold;
}

#workspaces button.active {
  background: #343842;
  color: #ffffff;
}
