configuration {
    modi: "drun,run";
    show-icons: true;
    display-drun: "[ APPS ]";
    display-run: "[ RUN ]";
}

* {
    font: "DejaVu Sans 12";
    background-color: #101217;
    text-color: #f1f3f5;
    border-color: #6c5ce7;
}

window {
    width: 42%;
    border: 2px;
    border-radius: 4px;
    padding: 12px;
}

element selected {
    background-color: #343842;
}
