[Unit]
Description=Check Environment change generations for stored sizes

[Timer]
OnBootSec=15s
OnUnitInactiveSec=30s
AccuracySec=5s

[Install]
WantedBy=timers.target
